<form action="/get_drug" method="POST">
    <div class="mb-3">
      <label for="sickness" class="form-label">Aiṣán</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="sickness">
    </div>
   
    <div class="mb-3">
        <label for="size" class="form-label">Ìwọn</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="size">
      </div>

      <div class = "text-center">
        <button type="submit" class="btn btn-primary">ṣe ibeere</button>
      </div>

   
  </form>